div {
    background-color: rgb(51, 51, 51);
    display: flex;
}
li {
    padding-right: 4%;
}
a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.05rem;
}
ul {
    margin: auto auto auto 0px;
}