<nav class="navbar navbar-expand-sm navbar-dark bg-dark" class="justify-content-between fixed-top" >
    <div class="container-fluid" >
    <ul class="navbar-nav me-auto" class="d-flex flex-fill">
    <li class="nav-item"><a href=# class="nav-link" class="nav-tabs">Home</a></li>
    <li class="nav-item"><a href=# class="nav-link" class="nav-tabs">About Me</a></li>
    <li class="nav-item"><a href=# class="nav-link" class="nav-tabs">Works</a></li>
    </ul>
    <button class="float-end" type="button" class="btn btn-dark">Log In</button>
    </div>
</nav>
<!-- <div class="container">
    <img src="https://lh3.googleusercontent.com/a-/AFdZucrANr456y0_uiFxqTJPlKwMBpXV5x62yqnbJGDZ=s288-p-rw-no" 
         class="rounded-circle img-fluid"  
         alt="Dante Martinelli">
</div> -->