div {
    background-color: rgb(51, 51, 51);
    display: flex;
}
li {
    padding-right: 2%;
    padding-left: 2%;
    transition-duration: 0.5s;
}
li:hover {
    background-color: rgba(216, 204, 204, 0.514);
}
a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.05rem;
}
ul {
    margin: auto auto auto 0px;
    list-style: none;
}
.nav-tabs {
    border-bottom: none;
}