<nav class="navbar navbar-expand-sm navbar-dark bg-dark" class="justify-content-between fixed-top" >
    <div class="container-fluid" >
    <ul class="navbar-nav me-auto" class="d-flex flex-fill">
    <li class="nav-item"><a routerLink="/home" class="nav-link" class="nav-tabs" >Home</a></li>
    <li class="nav-item"><a routerLink="/about-me" class="nav-link" class="nav-tabs">About Me</a></li>
    <li class="nav-item"><a routerLink="/works" class="nav-link" class="nav-tabs">Works</a></li>
    </ul>
    <button class="float-end" type="button" class="btn btn-dark" routerLink="/login">Log In</button>
    </div>
</nav>
